footer
	margin-top: 50px
	background: darken($blueDark, 10%)
	color: $white
	text-align: center
	padding: 20px 0
	.footer-mailchimp-form
		margin: 20px 0 40px
		.email-label
			display: block
		+mq($to: $screen-sm)
			input[type="submit"]
				margin-top: 15px
		+mq($from: $screen-sm)
			input[type="email"]
				width: 250px
	a
		color: $green
		&:hover
			color: $greenDark
	.copyright
		color: $gray-lighter
		font-size: 12px
		text-transform: uppercase
		padding-top: 5px