// sections
.stream
	// stream title
	h2.issue-title
		margin: 40px 0 0
		span.issue-num-date
			text-align: center
			font-size: 12px
			font-weight: normal
			text-transform: uppercase
			line-height: 16px
			margin-top: 10px
			@media (max-width: $screen-sm)
				margin: 0 0 30px
				font-size: 16px
				line-height: 20px
		span.issue-title
			font-size: 23px
			font-weight: normal
			font-family: $font-roboto
			a
				color: $gray-dark
			+mq($to: $screen-xs)
				font-size: 19px
				line-height: 23px
			+mq($from: $screen-xs, $to: $screen-sm)
				padding: 0 50px
	
	.issue-commentary
		margin-top: 20px
		// +mq($to: $screen-xs)
		// 	padding: 0 10px
		// +mq($from: $screen-xs, $to: $screen-sm)
		// 	padding: 0 90px
		.issue-commentary-meta
			text-align: center
			+mq($to: $screen-xs)
				display: none
			span.headshot
				display: block
				width: 80px
				height: 80px
				overflow: hidden
				margin: 0 auto
				+border-radius(99px)
			.galen
				a
					display: block
		
		.commentary
			border-left: 2px solid $blueDark
			+mq($to: $screen-xs)
				width: 90%
				margin-left: 20px
			p
				padding-top: 4px
				padding-bottom: 5px
	
	+mq($to: $screen-sm)
		.author-hidden.commentary
			width: 90%
			margin-left: 20px

			
	.stream-sections
		section
			margin-top: 40px
			// section title
			h3
				text-align: center
				margin: 0 auto 30px auto
				padding: 10px 0
				text-transform: uppercase
				font-weight: 700
				font-family: $font-roboto
				border-bottom: 1px solid
				+mq($from: $screen-sm)
					width: 50%
			article a
				font-weight: bold
				color: $gray-darker
			
			// section colors
			&.news
				h3
					border-color: $news
					color: $news
				article a.post_link
					color: $news
			
			&.frameworks
				h3
					border-color: $frameworks
					color: $frameworks
				article a.post_link
					color: $frameworks

			&.tutorials
				h3
					border-color: $tutorials
					color: $tutorials
				article a.post_link
					color: $tutorials

			&.dev-tools
				h3
					border-color: $devtools
					color: $devtools
				article a.post_link
					color: $devtools
			
			&.resources
				h3
					border-color: $resources
					color: $resources
				article a.post_link
					color: $resources
			
			&.opinions
				h3
					border-color: $opinions
					color: $opinions
				article a.post_link
					color: $opinions

			&.uiux
				h3
					border-color: $uiux
					color: $uiux
				article a.post_link
					color: $uiux

			&.seo
				h3
					border-color: $seo
					color: $seo
				article a.post_link
					color: $seo

			&.performance
				h3
					border-color: $performance
					color: $performance
				article a.post_link
					color: $performance

			&.libraries
				h3
					border-color: $libraries
					color: $libraries
				article a.post_link
					color: $libraries

			&.learning
				h3
					border-color: $learning
					color: $learning
				article a.post_link
					color: $learning


			// individual articles
			article
				margin-top: 30px
				h4
					margin-top: 0
					font-weight: 600
				// p
				// a