{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<p style="text-align: center; margin: 100px 0; font-weight: bold;">
			Sorry, we couldn't find what you're looking for.
		</p>
	</div>
{% endblock %}