<footer>
  <div class="container">
    <p class="footer-note">Questions, comments, concerns? <a href="http://twitter.com/gvinter">@gvinter</a> or <a href="mailto:galen.vinter@gmail.com">galen.vinter@gmail.com</a></p>
    <p class="copyright">©{{"now"|date('Y')}} Front-end Dev Weekly</p>
  </div><!-- /container (footer) -->
</footer>