<!-- MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form class="form-inline mailchimp-signup-form" action="http://listentoo.us7.list-manage2.com/subscribe/post?u=11df2122a2a2c5c3fc46242c5&amp;id=c6dafce16b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <p class="email-label">Find this curated content valuable?</p>
      <label class="sr-only" for="mce-EMAIL">Email Address</label>
      <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="Your email address" />
      <input type="submit" value="Make me a better developer" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-success">
      
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" class="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" class="mce-success-response" style="display:none"></div>
      </div>
      
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_11df2122a2a2c5c3fc46242c5_c6dafce16b" value="">
      </div>
  </form>
</div>