<article class="row">
  <h4 class="col-sm-10"><a href="{{post.link}}">{{post.post_title}}</a></h4>
  <p class="col-sm-10">{{post.post_content}}</p>
  <a href="#" class="col-sm-10 post_link">{{post.article_link}}</a>
</article>