{% extends "base.twig" %}

{% block content %}
	
	<div class="post-banner {{post.issue_section|slugify_section_title}}">
		<div class="container">
			<div class="col-sm-8 col-sm-push-1">
				<p>{{theme_options.home_headline}}</p>
			</div>
		</div>
	</div>
	
	<!-- Main Content -->
  <div class="container">
  	<div class="row">
  		<div class="col-md-7">
				{% include ['issue-content.twig'] %}
			</div>
			<aside class="col-md-3">
		    {{sidebar}}
			</aside>
  	</div>
	</div>

{% endblock %}