{% extends "base.twig" %}

{% block content %}
	
	<div class="banner issue-banner"></div>
	
	<!-- Main Content -->
  <div class="container">
  	<div class="row">
  		<div class="col-md-7">
				{% include ['issue-content.twig'] %}
			</div>
			<aside class="col-md-3">
		    {{sidebar}}
			</aside>
  	</div>
	</div>

{% endblock %}